body{
    background-color:aquamarine;
    transition: background-color 5s 7s ease-in-out; 
}
body:hover{
    background-color:blueviolet;
}
img{
    width: 200px;
    height: 200px;
    transition: transform 2s ease-in-out; 
}
img:hover{
    transform: scale(1.1);
}